// _banner.scss
// page header styles

.banner {
		padding-top: 50px;
		padding-bottom: 10px;

		h1 {
				font-size: 36px;
				margin-left: 50px;

				@media (min-width: 992px) {
						font-size: 48px;
				}
		}
}
