// _fancybox.scss
// styling for fancyboxes

.fancybox {
  max-width: 100%;
}

.fancybox-skin {
  background: #fff;
}

.fancybox-nav {
  height: 10%;
  width: 5%;
}

.fancybox-title {
  font-size: 16px;
  text-align: center;
}
