// _page.scss
// basic page definitions

html,
body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
}

// container widths
.container {
  @media (min-width: 992px) {
    max-width: 1100px;
    width: 97%;
  }

  @media (min-width: 1200px) {
    max-width: 1400px;
    width: 97%;
  }
}
