// _panels.scss
// styling for accordion panels

#accordion {
  padding-top: 10px;
}

.panel {
  margin-top: 10px;
  padding: 0;

  a {
    color: inherit !important;
    padding-top: 10px;
    text-decoration: none;
  }
}

.panel-primary .panel-heading {
  color: #fff;
}

.panel-body {
  padding-bottom: 5px;
}

